<section class="cover-section section1">
  <div class="container textStyle">
      <h1>Agrega tus Series Favoritas a tu Lista</h1>
      <p class="fontSizeT">En este apartado podrás registrar las series que más te gustan y adoras, donde podrás colocarle toda la información a estas mismas y quedar de esta manera registrada en la base de datos, donde posteriormente podrás visualizar tus series guardadas e incluso poder modificarlas o eliminarlas.</p>
  </div>
</section>

<section>
  <div class="container my-5 borderStyle1">
      <div class="row">
          <div class="col-12 col-lg-6">
              <div class="textStyle">
                  <h1>Ingresa Aquí la Información de tu Serie</h1>
                  <p class="fontSize">En este apartado podrás agregar tus series favoritas y registrarlas en una base de datos, donde se almacenará el nombre de tu serie, su foto de portada, sus temporadas que le agregues y mucho más.</p>
                  <button *ngIf="!showUpdateButton" type="button" class="btn red"  (click)="insertarRegistro(); resetMessageAndSelect()" [disabled]="!registro.nombre || !registro.descripcion || !registro.anio || !generoSeleccionado || !registro.porcentajeCalificacion">Insertar el registro de la serie a la BD</button>                  
                  <button *ngIf="showUpdateButton && !mostrarBotonVerde" type="button" class="btn blue" (click)="updateRegistro();" [disabled]="!(nombreCambiado || descripcionCambiada || generoSeleccionado || anioCambiado || calificacionCambiada)">Actualizar Información</button>
                  <button *ngIf="selectedSerieId && showUpdateButton" type="button" class="btn purple" (click)="deleteRegistro(selectedSerieId);">Eliminar Serie</button>
                  <button *ngIf="selectedSerieId && showUpdateButton && !mostrarBotonVerde" type="button" class="btn green" (click)="cancelarEdicion();">Cancelar la edición</button>
                  
                <div class="select-container">
                    <select *ngIf="!showUpdateButton" class="form-control select-dropdown" [(ngModel)]="selectedSerieId" (change)="selectSerie()">
                      <option value="message" disabled>Modificar una serie</option>
                      <option *ngFor="let serie of registros" [value]="serie.id">{{ serie.nombre }}</option>
                    </select>
                  </div>
            </div>
          </div>

          <div class="container row col-12 borderStyle2 col-12 col-lg-6 inputStyle">
            <br>
            <div class="col-sm-12">
              <p><br>
                <label class="iniLab">Nombre de la Serie</label>
                <input type="text" placeholder="Ingresa el nombre de tu serie" class="form-control" [(ngModel)]="registro.nombre" (input)="onNombreChange()">
              </p>
              <p>
                <label>Descripcion de la Serie</label>
                <input type="text" placeholder="Ingresa una descripción de tu serie" class="form-control" [(ngModel)]="registro.descripcion" (input)="onDescripcionChange()">
              </p>
              <p>
                <label>Género de la Serie</label>
                <select class="form-control" (change)="updateSelectedGenre($event)">
                  <option value="null" disabled [selected]="true">{{ mensaje }}</option>
                  <option *ngFor="let genre of generos" [value]="genre" [style.color]="isGenreSelected(genre) ? 'red' : 'black'">{{ genre }}</option>
                </select>
              </p>
              <p>
                <label>Año de Publicación de la Serie</label>
                <input type="number" min="0" max="2024" placeholder="Ingresa el año de lanzamiento de tu serie" class="form-control" [(ngModel)]="registro.anio" (input)="onAnioChange()">
              </p>
              <p>
                <label>Porcentaje de Calificación</label>
                <input type="number" min="0" max="100" placeholder="Ingrese el porcentaje de calificación" class="form-control" [(ngModel)]="registro.porcentajeCalificacion" (input)="onCalificacionChange()">
              </p>
            </div>
          </div>
          </div>
  </div>
</section>
