<div class="menu-background">
<div class="menu-container">
  <div class="logoContainer">
    <img src="https://fontmeme.com/permalink/240317/b98a4d8468d5d23689ed0809e65ea099.png">
  </div>
  <div class="menu-content">
    <ul class="nav nav-tabs custom-nav-tabs">
      <li class="nav-item">
        <a class="nav-link"  routerLink="/home">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/registro">Registro de Series</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/visualizar">Visualizacion de Series</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/albums">Modificacion / Eliminacion de series</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">Acerca de</a>
      </li>
    </ul>
  </div>
</div>
</div>