<section class="cover section1">
    <div class="container textStyle">
        <h1>Acerca De...</h1>
        <p class="init">¡Bienvenido a nuestra plataforma de series! En este espacio digital, nos enorgullece ofrecerte una experiencia única y original. Es importante destacar que esta página web fue diseñada con fines educativos y de aprendizaje, como parte de un proyecto universitario. Queremos aclarar que nuestra página no tiene como objetivo emular o copiar otras plataformas existentes en línea. Cada elemento visual y funcional ha sido creado con inspiración y originalidad, con el propósito de explorar y aplicar conocimientos adquiridos durante nuestro proceso educativo. Cualquier semejanza o inspiración en elementos de otras páginas web es simplemente resultado de la observación y estudio de las mejores prácticas en diseño y desarrollo web.</p>
    </div>
  </section>

  <section class="cover-section section2">
    <div class="container textStyle">
        <h1 class="section-title">Sobre la Pagina</h1>
        <div class="about-columns">
          <div style="margin-bottom: 40px;">
            <h2 class="cards">Nuestra Inspiración</h2>
                <p class="mesage">Nuestra página no es solo un destino para entusiastas de las series, sino también un proyecto que nació del espíritu creativo y del deseo de aprender. Nos inspiramos en la innovación y la pasión por el conocimiento para crear este espacio dinámico.</p>
            </div>
            <div style="margin-bottom: 40px;">
              <h2 class="cards">Originalidad y Aprendizaje</h2>
                <p style="margin-bottom: 40px;">Valoramos la originalidad y la autenticidad en todo lo que hacemos. Cada contenido que encuentres aquí es resultado de nuestra dedicación por ofrecer información única y relevante.</p>
            </div>
            <div style="margin-bottom: 40px;">
              <h2  class="cards">Aviso Legal</h2>
                <p class="mesage">Nuestro contenido se basa en fuentes verificadas y se presenta con el propósito de aprendizaje y entretenimiento. No copiamos ni reproducimos información de otras fuentes sin autorización.</p>
            </div>
            <div style="margin-bottom: 40px;">
              <h2  class="cards">Equipo de Desarrollo</h2>
                <p style="margin-bottom: 40px;">En lo que respecta al equipo de desarrollo, nuestro equipo está conformado por tres desarrolladores con un amor compartido por la programación y el diseño web. Nuestra colaboración surge para poder haber logrado la elaboracion de esta pagina.</p>
            </div>
        </div>
    </div>
</section>

<section class="section3">
  <h1 class="container extra" style="margin-bottom: 60px;">Integrantes</h1>
  <div class="noticia" >
    <img class="izquierda" width="165px" height="165 px" src="https://scontent-qro1-2.xx.fbcdn.net/v/t39.30808-6/346474420_1375633443229843_5645665641566249612_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHWNaL2MJL9Cyjam9FuWuftsWTnbTe_GmmxZOdtN78aaQestmmIz-roM4aECycYczUhziYWxHmwnjpcnwGm42Iz&_nc_ohc=3-L9ny7mtroAb6Xf_Lp&_nc_ht=scontent-qro1-2.xx&oh=00_AfDw7zBjOEoyyMDhSoTZx7VSTzr7M0XO7wvrqjJOy7dpQw&oe=6618F249">
    <aside>
      <h2 style="text-align: center; margin-top: 60px;"><b>Alegria Ruiz Christian</b></h2>
    </aside>
    <div class="reset"></div>
  </div>

  <div class="noticia" >
    <img class="derecha" width="165px" height="165 px" src="https://scontent-qro1-2.xx.fbcdn.net/v/t39.30808-6/344814099_3045425635760871_2169726961923628703_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFMoAtQplqihA9NElktbLp-luV02A71iiCW5XTYDvWKIHg99vKP4XZPMvpDEi9EKX-RinTBtmPNtE4CLy593P1t&_nc_ohc=sTdKIJD1zyIAb5dybul&_nc_ht=scontent-qro1-2.xx&oh=00_AfAIJ4QXT0LQTYxI06oknygiNIEsNQqctXnYm4l4_w8TvQ&oe=66190F0Fhttps://scontent-qro1-2.xx.fbcdn.net/v/t39.30808-6/344814099_3045425635760871_2169726961923628703_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFMoAtQplqihA9NElktbLp-luV02A71iiCW5XTYDvWKIHg99vKP4XZPMvpDEi9EKX-RinTBtmPNtE4CLy593P1t&_nc_ohc=sTdKIJD1zyIAb5dybul&_nc_ht=scontent-qro1-2.xx&oh=00_AfAIJ4QXT0LQTYxI06oknygiNIEsNQqctXnYm4l4_w8TvQ&oe=66190F0F">
    <aside>
      <h2 style="text-align: center; margin-top: 60px;"><b>Gonzales Guerrero Daniel</b></h2>
    </aside>
    <div class="reset"></div>
  </div>

  <div class="noticia" >
    <img class="izquierda" width="165px" height="165 px" src="https://scontent-qro1-1.xx.fbcdn.net/v/t39.30808-6/311081062_163324336368316_6838840371808672734_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFescvF9Z_9of3tUU8TcNYQf0hjFyMZlXV_SGMXIxmVdSi3HJ_YwXmGQx7Yav78wLdADKpkogLYNBQGAY5utBfh&_nc_ohc=LWHBlABVn2AAb63U7Nl&_nc_ht=scontent-qro1-1.xx&oh=00_AfDs0msU27VuhQE3BjCLIjbcYTGoWVMKpqh87Isfe367QQ&oe=661910A1">
    <aside>
      <h2 style="text-align: center; margin-top: 60px;"><b>Linarez Martinez Margarita</b></h2>
    </aside>
    <div class="reset"></div>
  </div>
</section>