<section class="cover-section section1">
    <div class="container textStyle">
        <h1>Acerca De...</h1>
        <p>¡Bienvenido a nuestra plataforma de series! En este espacio digital, nos enorgullece ofrecerte una experiencia única y original. Es importante destacar que esta página web fue diseñada con fines educativos y de aprendizaje, como parte de un proyecto universitario. Queremos aclarar que nuestra página no tiene como objetivo emular o copiar otras plataformas existentes en línea. Cada elemento visual y funcional ha sido creado con inspiración y originalidad, con el propósito de explorar y aplicar conocimientos adquiridos durante nuestro proceso educativo. Cualquier semejanza o inspiración en elementos de otras páginas web es simplemente resultado de la observación y estudio de las mejores prácticas en diseño y desarrollo web.</p>

        <div class="about-columns">
            <div>
                <h1>Nuestra Inspiración</h1>
                <p>Nuestra página no es solo un destino para entusiastas de las series, sino también un proyecto que nació del espíritu creativo y del deseo de aprender. Nos inspiramos en la innovación y la pasión por el conocimiento para crear este espacio dinámico.</p>
            </div>
            <div>
                <h1>Originalidad y Aprendizaje</h1>
                <p>Valoramos la originalidad y la autenticidad en todo lo que hacemos. Cada contenido que encuentres aquí es resultado de nuestra dedicación por ofrecer información única y relevante. Nos comprometemos a proporcionar una experiencia enriquecedora para que puedas disfrutar mientras aprendes.</p>
            </div>
            <div>
                <h1>Aviso Legal</h1>
                <p>Nuestro contenido se basa en fuentes verificadas y se presenta con el propósito de aprendizaje y entretenimiento. No copiamos ni reproducimos información de otras fuentes sin autorización. Sin embargo, ten en cuenta que algunos datos pueden estar sujetos a cambios o actualizaciones.</p>
            </div>
            <div>
                <h1>Equipo de Desarrollo</h1>
                <p>En lo que respecta al equipo de desarrollo, nuestro equipo está conformado por tres desarrolladores con un amor compartido por la programación y el diseño web. Nuestra colaboración surge de la búsqueda constante de desafíos y la pasión por crear productos digitales excepcionales.</p>
            </div>
        </div>
    </div>
</section>

