<section class="cover-section section1">
  <div class="container textStyle">
      <h1>Visualiza tus Series</h1>
      <p>En este apartado podrás observar todas las series que has registrado, las cuales se mostraran en un formato de targetas
        con una portada extraida de una Api y una informacion adicional la cual tu ingresaste, por lo que al darle click a 
        cualquiera de estas targetas te direccionaran a un apartado donde podrás ver toda la información de dicha serie.
      </p>
  </div>
</section>

<div class="containerCard">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4" *ngFor="let registro of registros">
      <!-- Envuelve toda la tarjeta dentro del enlace -->
        <div class="info">
          <a [routerLink]="['/detalles', registro.nombre]" class="card-link">

          <!-- Imagen de la serie -->
          <img [src]="registro.imagenSerie ? registro.imagenSerie : imagenPorDefecto" class="card-img-top" alt="...">

          <!-- Contenido de la tarjeta -->
          <div class="card-content">
            <!-- Título de la serie -->
            <h5 class="card-title text-white">{{ registro.nombre }}</h5>

            <!-- Información adicional -->
            <div class="mt-2 additional-info d-flex align-items-center">
              <span class="mr-1 text-white">⭐ {{ registro.porcentajeCalificacion }}%</span> <!-- Estrella y porcentaje -->
              <span class="separer text-white">|</span> <!-- Separador -->
              <span class="ml-1 text-white">{{ registro.anio }}</span> <!-- Año de lanzamiento -->
              <span class="separer text-white">|</span> <!-- Separador -->
              <div class="genres">
                <ng-container *ngFor="let genero of registro.genero.slice(0, 2); let last = last">
                  <span class="ml-1 text-white additional-info">{{ genero }}</span>
                  <span class="ml-1 text-white additional-info end" *ngIf="!last">,</span>
                </ng-container>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
