<section class="cover-section section1">
  <div class="container textStyle">
    <h1>BIENVENIDOS</h1>
    <p>Bienvenido a la pagina de series desarrollada por alumnos con ganas de aprobar la materia, esta pagina
      fue desarrolla con el objetivo de simular una plataforma de streaming en la cual podras crear y agregar Series,
      generos y temporadas a esta pagina, la cual esta conectada con una Base de Datos en FireBase, la cual almacena
      estos 3 apartados de manera separada pero se usan entre si dependiendo lo solicitado.
    </p>
  </div>
</section>


<section class="cover-section section2">
  <div class="container  col-12 col-lg-6 row">
    <h1>Agrega tus Series Favoritas</h1>
    <p> Esta pagina te permite agregar tus series favoritas, incluyendo su nombre, foto de portada,
      temporadas, entre mucho mas, ademas de podrer crear categorias para incluirlas en tus series.</p>
  </div>
</section>

<section class="cover-section section4 blur">
  <div class="container  col-12 col-lg-6 row">
    <h1>Visualiza tus Series</h1>
    <p>Podras ver todas tus series registradas, donde veras la portada de tu serie y al darle click te direccionara
      a mostrarle la informacion de esta misma.</p>
  </div>
</section>


<section class="cover-section section3 blur">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-6 text-lg-right">
        <h1>Editalas o Eliminalas</h1>
        <p> Asi como puedes agregar tus series preferidas, tambien podras modificarlas o incluso eliminarlas
          donde podras ademas actualizar toda la informacion que ingresaste al crearlas.</p>     
      </div>
    </div>
  </div>
</section>
