  <section class="cover-section section1">
  <div class="container textStyle">
    <h1>BIENVENIDOS</h1>
    <p>Bienvenido a la pagina de series desarrollada por alumnos con ganas de aprobar la materia, esta pagina
      fue desarrolla con el objetivo de simular una plataforma de streaming en la cual podras crear y agregar Series
      y generos a esta pagina, la cual esta conectada con una Base de Datos en FireBase, la cual almacena
      estos 2 apartados de manera separada pero se usan entre si dependiendo lo solicitado.
    </p>
  </div>
</section>


<section class="cover-section section2">
  <div class="container  col-12 col-lg-6 row">
    <h1>Agrega tus Series Favoritas</h1>
    <p> Esta pagina te permite agregar tus series favoritas, incluyendo su nombre, foto de portada descripcion
      genero, entre mucho mas, ademas de podrer crear y eliminar generos para incluirlas en tus series.</p>
  </div>
</section>

<section class="cover-section section3 blur">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-6 text-lg-right">
        <h1>Editalas o Eliminalas</h1>
        <p> Asi como puedes agregar tus series preferidas, tambien podras modificarlas o incluso eliminarlas
          donde ademas podras actualizar toda la informacion que ingresaste al momento de crearlas.</p>     
      </div>
    </div>
  </div>
</section>

<section class="cover-section section4 blur">
  <div class="container  col-12 col-lg-6 row">
    <h1>Visualiza tus Series</h1>
    <p>Podras ver  tus series registradas en formato de targetas
      y al darles click te direccionara a una seccion donde podras ver toda la informacion de dicha serie (algunas fotos
      se extraen de una api, por lo que si ingresas un nombre de una serie valida se mostraran estas y
      si no se mostraran imagenes por defecto).</p>
  </div>
</section>
